*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1C1C21;
  background-color: #E5E5E5;
}

.start {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right bottom, #FFF 50%, #FFF3EB 50%);
  
  &__container {
    padding: calc(50vh - 178.5px) calc(50vw - 554px);
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 538px;
    padding: 49px 0;
  }

  &__title {
    font-size: 56px;
    line-height: 65px;
    margin-bottom: 64px;
  }

  &__link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 22px 123.7px;
    border-radius: 12px;
    background-color: #FF8B37;
  }
}

.game {
  display: flex;
  height: 100vh;

  &__leftBlock {
    width: calc(100% - 376px);
    background-color: #EFEFEF;
  }

  &__title {
    font-size: 32px;
    line-height: 37px;
    width: 624px;
    height: 74px;
    padding: 133px 0 calc(100vh - 455px) 80px;
  }

  &__options {
    width: 810px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 calc(50% - 405px);
  }

  &__rightBlock {
    width: 376px;
    background-color: #FFF;
    padding: calc(50vh - 282px) 0;
  }
}

.option {
  &__link {
    background-image: url('./images/Rectangle.png');
    background-repeat: no-repeat;
    display: block;
    width: 389px;
    height: 72px;
    line-height: 72px;
    padding-left: 32px;
    font-size: 20px;
    color:  #1C1C21;
    text-decoration: none;
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: '';
      display: block;
      width: 17px;
      height: 1px;
      background-color: #D0D0D8;
      position: absolute;
      top: 35.5px;
      left: -17px;
    }

    &::after {
      content: '';
      display: block;
      width: 17px;
      height: 1px;
      background-color: #D0D0D8;
      position: absolute;
      top: 35.5px;
      right: -17px;
    }
  }

  &__letter {
    font-weight: 600;
    color: #FF8B37;
    margin-right: 8px;
  }

  &__text {
    font-weight: 400;
  }
}

.benefit {
  font-weight: 400;
  background-image: url('./images/Rectangle_mini.png');
  background-repeat: no-repeat;
  width: 240px;
  height: 40px;
  margin: 0 auto 8px auto;
  text-align: center;
  line-height: 40px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    display: block;
    width: 69px;
    height: 1px;
    background-color: #D0D0D8;
    position: absolute;
    top: 19.5px;
    left: -68px;
  }

  &::after {
    content: '';
    display: block;
    width: 69px;
    height: 1px;
    background-color: #D0D0D8;
    position: absolute;
    top: 19.5px;
    right: -68px;
  }

  &--achieved {
    color: #D0D0D8;
  }

  &--nextGoal {
    background-image: url('./images/Rectangle_mini_active.png');

    &::before,
    &::after {
      background-color: #FF8B37;
    }
  }
}

.gameover {
  height: 100vh;
  width: 100vw;

  &__container {
    padding: calc(50vh - 178.5px) calc(50vw - 554px);
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 538px;
    padding: 59px 0;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 37px;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 56px;
    line-height: 65px;
    margin-bottom: 64px;
  }

  &__link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 22px 123.7px;
    border-radius: 12px;
    background-color: #FF8B37;
  }
}
