*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1C1C21;
  background-color: #E5E5E5;
}
