*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1C1C21;
}

.startPage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right bottom, #FFF 50%, #FFF3EB 50%);
  
  &__container {
    width: 77vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15vh;
  }

  &__content {
    width: 37.4vw;
  }

  &__title {
    font-size: 56px;
    line-height: 65px;
    margin: 25px 0 64px;
  }
}

.button {
  height: 64px;
  width: 296px;
  border-radius: 12px;
  border: none;
  background-color: #FF8B37;
}

.link {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  text-decoration: none;
}

.game {
  display: flex;
  height: 100vh;

  &__leftBlock {
    width: calc(100% - 376px);
    background-color: #EFEFEF;
  }

  &__title {
    font-size: 32px;
    width: 43.3vw;
    padding: 15vh 0 28vh 5.6vw;
  }

  &__options {
    width: 810px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 0 auto;
  }

  &__rightBlock {
    width: 376px;
    background-color: #FFF;
  }
}

.option {
  &__button {
    background-image: url('./images/Rectangle.png');
    border: none;
    width: 389px;
    height: 72px;
    text-align: left;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 17px;
      height: 1px;
      background-color: #D0D0D8;
      position: absolute;
      top: 35.5px;
      left: -17px;
    }

    &::after {
      content: '';
      display: block;
      width: 17px;
      height: 1px;
      background-color: #D0D0D8;
      position: absolute;
      top: 35.5px;
      right: -17px;
    }
  }

  &__link {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color:  #1C1C21;
    text-decoration: none;
    margin-left: 32px;
  }

  &__letter {
    font-weight: 600;
    color: #FF8B37;
    margin-right: 8px;
  }

  &__text {
    font-weight: 400;
  }
}

.benefit {
  font-weight: 400;
  background-image: url('./images/Rectangle_mini.png');
  background-repeat: no-repeat;
  width: 240px;
  height: 40px;
  margin: 8px auto;
  text-align: center;
  line-height: 40px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 69px;
    height: 1px;
    background-color: #D0D0D8;
    position: absolute;
    top: 19.5px;
    left: -68px;
  }

  &::after {
    content: '';
    display: block;
    width: 69px;
    height: 1px;
    background-color: #D0D0D8;
    position: absolute;
    top: 19.5px;
    right: -68px;
  }

  &--achieved {
    color: #D0D0D8;
  }

  &--nextGoal {
    background-image: url('./images/Rectangle_mini_active.png');

    &::before,
    &::after {
      background-color: #FF8B37;
    }
  }
}
